table {
  width: 100%;
}
th,
td,
tr {
  text-align: center;
}
hr {
  width: 100%;
}
.panel:after {
  content: "";
  left: 0;
  top: 30px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(190, 190, 190);
}
.panel {
  background-color: grey;
}

.userLine {
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid black;
}

a.button25 {
  position: relative;
  display: inline-block;
  width: 1.5em;
  cursor: pointer;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #f64c2b;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: linear-gradient(#fb9575, #f45a38 48%, #ea1502 52%, #f02f17);
}
a.button25:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}
